log.txt
config.cfg
data/sounds/explosions/*.ogg
data/sounds/interface/*.ogg
data/sounds/misc/*.ogg
data/sounds/pickup/*.ogg
data/sounds/projectiles/*.ogg
data/sounds/turrets/*.ogg
data/sounds/vehicle/*.ogg

iOS/_build
iOS/itzod/itzod.xcodeproj/xcuserdata
iOS/itzod_xcode.xcworkspace/xcuserdata
iOS/itzod_xcode.xcworkspace/xcshareddata

WinRT/_build/
WinRT/.vs/
WinRT/wtzod/Debug/
WinRT/wtzod/Release/
WinRT/wtzod/ARM/
WinRT/wtzod/x64/
WinRT/Debug/
WinRT/Release/
WinRT/ARM/
WinRT/x64/
WinRT/ipch/
*.user
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
WinRT/AppPackages/
WinRT/wtzod/BundleArtifacts/
src/.vs/
data/user/
Android/.gradle/
Android/.idea/
Android/app/.externalNativeBuild/
Android/app/build/
Android/build/
Android/local.properties
*.iml
.cxx
