log.txt
config.cfg
game/data/sounds/explosions/*.ogg
game/data/sounds/interface/*.ogg
game/data/sounds/misc/*.ogg
game/data/sounds/pickup/*.ogg
game/data/sounds/projectiles/*.ogg
game/data/sounds/turrets/*.ogg
game/data/sounds/vehicle/*.ogg

game/iOS/_build
game/iOS/itzod/itzod.xcodeproj/xcuserdata
game/iOS/itzod_xcode.xcworkspace/xcuserdata
game/iOS/itzod_xcode.xcworkspace/xcshareddata
game/WinRT/_build/
game/WinRT/wtzod/ARM/
*.opensdf
*.sdf
game/WinRT/.vs/
game/WinRT/x64/
game/WinRT/wtzod/x64/
game/WinRT/wtzod/Release/
game/WinRT/Release/
game/WinRT/wtzod/Debug/
game/WinRT/Debug/
game/WinRT/ARM/
game/WinRT/ipch/
*.user
game/WinRT/wtzod.VC.opendb
